.Rhistory
.Rprofile
*.csv
*.sav
*.sas7bdat
*.xlsx
*.xls
*.pdf
*.fff
*.log
*.tex
.Rproj.user
!data.csv
!codebook_data.csv
!shp_df.csv
!codebook_shp_df.csv
!checklist.csv
!data_state.csv
!codebook_data_state.csv
!data_state_4pm.csv
!codebook_data_state_4pm.csv
!data_agecollapse.csv
!codebook_data_agecollapse.csv
